@charset "UTF-8";
*,
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0%;
  padding: 0%;
  position: relative;
  font-family: "微軟正黑體";
}

* #treeCanvas,
body #treeCanvas {
  position: absolute;
  width: 83.33%;
  /*Change this in order to change space that the branch takes*/
  height: 71, 4%;
  /*Change this in order to change space that the branch takes*/
  z-index: -2;
  right: 0;
  display: none;
}

* #leavesCanvas,
body #leavesCanvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}

* #banner,
body #banner {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

* #banner .banner_img,
body #banner .banner_img {
  position: absolute;
  width: 100%;
  height: 100vh;
}

* #banner .banner_img img,
body #banner .banner_img img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
}

* #banner .sakurasvg,
body #banner .sakurasvg {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

* #banner .layersvg,
body #banner .layersvg {
  position: absolute;
  max-width: 100%;
  /* left: -10px; */
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
}

* .navbar,
body .navbar {
  background-color: #ffffff;
}

* .navbar .container,
body .navbar .container {
  max-width: 1170px;
}

* .navbar .container a,
body .navbar .container a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

* .navbar .container a img,
body .navbar .container a img {
  width: 48px;
  height: 48px;
  margin-right: 20px;
}

* .navbar .container a:hover,
body .navbar .container a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

* .navbar .container .navbar-collapse li,
body .navbar .container .navbar-collapse li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* .navbar .container .navbar-collapse a img,
body .navbar .container .navbar-collapse a img {
  margin-left: 10px;
  width: 30px;
  height: 30px;
}

* main #section_1,
body main #section_1 {
  width: 100%;
  height: 100vh;
  background-color: #c0d4ee;
}

* main #section_1 svg,
body main #section_1 svg {
  padding: 20px 0px 0px 0px;
}

* main #section_1 svg path,
body main #section_1 svg path {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

* main #section_1 svg path:hover,
body main #section_1 svg path:hover {
  fill: rgba(0, 0, 0, 0.5);
  -webkit-transform: translate(-5px, -5px);
  transform: translate(-5px, -5px);
}

* main #section_1 svg .isolation:hover,
body main #section_1 svg .isolation:hover {
  -webkit-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

* main #section_2,
body main #section_2 {
  width: 100%;
  height: 100vh;
  background-color: #1D6A96;
}

* main #section_2 .swiper-image-inner h1,
body main #section_2 .swiper-image-inner h1 {
  font-size: 72px;
  text-shadow: -2px -2px 2px #222222, -4px -4px 2px #222222;
}

* main #section_2 .swiper-image-inner span,
body main #section_2 .swiper-image-inner span {
  font-size: 72px;
  text-shadow: -2px -2px 2px #222222, -4px -4px 2px #222222;
}

* main #section_2 p,
body main #section_2 p {
  font-size: 32px;
  font-weight: 1000;
  text-shadow: -2px -2px 2px #222222,-4px -4px 2px #222222;
}

* footer,
body footer {
  width: 100%;
  background-color: #283B42;
}

* footer .footer_team,
body footer .footer_team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* footer .footer_team .footer_ul,
body footer .footer_team .footer_ul {
  list-style: none;
  line-height: 40px;
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

* footer .footer_team .footer_ul .team_li,
body footer .footer_team .footer_ul .team_li {
  color: #ffffff;
  padding: 0 10px;
}
/*# sourceMappingURL=index.css.map */